body{
        	background:lightgrey;
            font-family:"Georgia", serif;
			}
        h1{
        	color:red;
            font-size:40px;
			}
      a {
          color: blue;
          text-decoration: none; 
        }

      a:hover {
          color: red;            
          text-decoration: underline; 
        }
        ol, ul {
    		padding-left: 20px; 
            	}

			li {
   			 	margin-bottom: 6px; 
			}
			ol li::marker {
    			color: darkblue;
   				font-weight: bold;
			}

			ul li::marker {
    			color: darkgreen;
			}
            table {
    			border-collapse: collapse;
				}

			th, td {
    			border: 1px solid black;
    			padding: 6px;
				}